version: "3.9"

services:
  backend:
    build:
      target: dev
    volumes:
      - ./backend:/app

  frontend:
    build:
      target: dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./frontend/.env
